<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>読書記録ツール</h1>
    <h2>あなたの読書体験を記録、共有していきましょう。</h2>
      <%= link_to 'ログイン', signup_path, class: 'btn btn-lg btn-primary' %>
        <h3>または</h3>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>
